.accounts {
    background-color: #dcdcdc;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
