.account-connect-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c26562;
}

.account-connect-container a {
    margin: 40px;
    background-color:#f7e7bd ;
    padding:25px 50px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.account-connect-container h1 {
    position: absolute;
    top: 20%;
    font-size: 40px;
    font-weight: bold;
    color: azure;
}

.account-connect-container h2 {
    position: absolute;
    top: 30%;
    font-size: 30px;
    font-weight: bold;
    color: azure;
}
