.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dcdcdc;
    width: 400px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

.status {
    margin-bottom: 20px;
    width: 60%;
    height: 50px;
    padding: 0px 10px;
    border: none;
    border-radius: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.description {
    margin-top: 20px;
    width: 60%;
    height: 50px;
    margin-bottom: 5px;
    padding: 0px 10px;
    border: none;
    border-radius: 10px;
}

#meeting-time {
    margin-bottom: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
}

.input-container button {
    padding:10px;
}

.caption-card {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.caption {
    width: 300px;
}

.images {
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    padding: 30px;
}
.template-image {
    height: 150px;
    width: 150px;
    object-fit: contain;    
}